@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sparktro-gray: #F1F1F1;
  --sparktro-primary: #0A97B0;
  --sparktro-black: #1E2533;
  --sparktro-red: #FF4340;
  --sparktro-yellow: #FDCB02;
}
 